/* shared */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
}

.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.btn-common {
    border: none;
    border-radius: 8px;
    background: var(--primary-color);
    color: #FFF;
    padding: 8px 20px;
}

/* body */
header,
main {
    max-width: 1140px;
    margin: 50px auto;
}

/* header */
/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.nav-title img {
    width: 3rem;
    height: 3rem;
}

.nav-title h1 {
    color: var(--secondary-color);
    font-size: 36px;
    font-weight: 800;
}

.logo-title {
    color: var(--primary-color);
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 700;
    font-size: 1rem;
    color: #424247;
}

.nav-home {
    color: var(--primary-color);
}


/* main */
/* banner */
.banner {
    width: 100%;
    height: 500px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 0;
}

.banner-container {
    padding: 100px 0;
}

.banner-container h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-container>p {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 15rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    gap: 5px;
    margin: 0 190px;
    padding: 10px 0;
}

.search-container {
    display: flex;
}

.search-input {
    width: 150px;
    height: 40px;
    margin: 0 5px;
    border: none;
    border-radius: 8px;
}

.btn-banner {
    display: flex;
    border: none;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    margin: 0
}

/* popular tours */
.popular-tours {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    gap: 2rem;
}



/* destination */
.destination {
    margin-top: 0;
}

.destination-content {
    text-align: center;
}

.destination-img11 {
    display: flex;
    gap: 20px;
}

.destination-img22,
.destination-img33 {
    display: flex;
    gap: 22px;
    margin-bottom: 10px;
}

#ind,
#mal,
#sri,
#north,
#kash,
#bd,
#band {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-repeat: no-repeat;
    color: white;
    vertical-align: middle;
}

#mal {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
    width: 573px;
    height: 300px;
}

#ind {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 8.png), lightgray 50% / cover no-repeat;
    width: 573px;
    height: 300px;
}

#sri {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;
    width: 374px;
    height: 286px;
}

#north {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;
    width: 474px;
    height: 286px;
}

#kash {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 9.png), lightgray 50% / cover no-repeat;
    width: 274px;
    height: 286px;
}

#bd {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 11.png), lightgray 50% / cover no-repeat;
    width: 473px;
    height: 300px;
}

#band {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 10.png), lightgray 50% / cover no-repeat;
    width: 673px;
    height: 300px;
}

/* why choose */

.choose-content {
    text-align: center;
}

.choose-card-container {
    display: flex;
    gap: 10px;
}

.card-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.card-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.card {
    border-radius: 16px;
    padding: 32px 32px;
}

.card1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card3 {
    margin: 10px 22%;
}

.perfect-container {
    display: flex;
    gap: 20px;
    margin-top: 80px;
}

.perfect-container li {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
}






/* Responsive styles */

/* Mobile device */
@media screen and (max-width:576px) {

    .search,
    .search-container,
    .popular-tours,
    .perfect-container {
        flex-direction: column;
    }


    .banner {
        margin: 0;
        width: 100%;
        background-position: 50%;
    }

    header {
        margin: 0 50px;
    }

    .nav-title {
        margin-bottom: 0;
        gap: 0;
    }

    nav ul {
        display: none;
    }

    .banner-container {
        padding: 20px 0;
    }

    .banner-container h1 {
        font-size: 1.5rem;
    }

    .banner-container p {
        font-size: 0.9rem;
        padding: 0 2rem;
        line-height: 21px;
    }

    .search {
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        width: 18rem;
        gap: 10px;
        margin: 0 15%;
    }

    .search-container {
        gap: 10px;
    }

    .search-input,
    .btn-banner {
        width: 16rem;
        height: 3.25rem;
    }

    /* popular tours */

    .popular-tours {
        margin-top: 0;
        margin-bottom: 0;
    }

    .popular-tours img {
        width: 100%;
    }

    .popular-tours h1 {
        font-size: 1.5rem;
    }

    /* destination */
    .destination h1 {
        font-size: 1.5rem;
    }

    .destination-img11,
    .destination-img22,
    .destination-img33 {
        flex-direction: column;
        gap: 0;
        margin-bottom: 0;
    }

    #ind,
    #mal,
    #sri,
    #north,
    #kash,
    #bd,
    #band {
        width: 100%;
        height: 176px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* choose */
    .choose-content h1 {
        font-size: 1.5rem;
    }

    .choose-card-container {
        flex-direction: column;
        gap: 15px;
    }

    .card3 {
        margin: 15px 0;
    }

    /* simple perfect */
    .perfect-container {
        margin-top: 0;
    }

    .perfect-container h1 {
        font-size: 1.5rem;
    }

    .perfect-container img {
        width: 100%;
    }
}